
/* General styles*/
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #333;
	background: #eee;
}

/* Link Styles */
a {
	text-decoration: none;
	color: #999;
}
a:hover {
	color: #6633ff;
}

/* Section Styles */
.main-nav {
	width: 100%;
	background: black;
	min-height: 30px;
	padding: 10px;
	position: fixed;
	text-align: center;
}

.nav {
	display: flex;
	justify-content: space-around;
	font-weight: 700;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

.nav .name {
	display: block;
	margin-right: auto;
	color: white;
}

.nav li {
	padding: 5px 10px 10px 10px;
}

.nav li .menu-link__active,
.nav li .menu-link__active:hover {
	color: #a48959;
}

.nav a {
	transition: all .5s;
}

.nav a:hover {
	color: white
}

header {
	text-align: center;
	overflow: hidden;
	padding-top: 60px;
}

header {
	line-height: 1.5;
}

header .profile-image {
	margin-top: 50px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.4);
	transition: all .5s;
}

header .profile-image:hover {
	border: 10px solid white;
}

.tag {
	background-color: #efefef;
	color: black;
	padding: 10px;
	border-radius: 50px;
	display: table;
	margin: 10px auto;
	padding: 10px 30px;
} 

.sub {
	background-color: rgba(0,0,0,0.8);
	font-size: .75em;
	color: white;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: .5em;
	max-width: 75%;
}

.container {
	max-width: 1200px;
	padding: 15px;
	margin: 0 auto;
}

.intro {
	text-transform: uppercase;
	letter-spacing: 0.125em;
}

.card {
    margin: 15px 0;
	padding: 20px 40px 40px;
	width: 100%;
	text-align: left;
	background: #fff;
	border-bottom: 4px solid #ccc;
	border-radius: 6px;
	transition: all .5s;
}

.card:hover {
	border-color: #a48959;
}

ul.skills {
	padding: 0;
	text-align: left;
}

.skills li {
	border-radius: 3px;
	border: 1px solid #999;
	display: inline-block;
	font-size: 0.75rem;
	color: #999;
	padding: 5px 10px;
	margin: 2px;
}

footer {
	width: 100%;
	min-height: 30px;
	padding: 20px 0 40px 20px;
}

footer .copyright {
	top: -8px;
	font-size: .75em;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	display: inline-block;
}

/* Social links styles*/
a.social {
	display: inline-block;
	text-indent: -9999px;
	margin-left: 5px;
	width: 30px;
	height: 30px;
	background-size: 30px 30px;
	transition: all .5s;
}

a.twitter {
	background-image: url(images/twitter.svg);
}

a.twitter:hover {
	background-image: url(images/twitter_active.svg);
}

a.linkedin {
	background-image: url(images/linkedin.svg);
}

a.linkedin:hover {
	background-image: url(images/linkedin_active.svg);
}

a.github {
	background-image: url(images/github.svg);
}

a.github:hover {
	background-image: url(images/github_active.svg);
}
a.flickr {
	background-image: url(images/flickr.svg);
}

a.flickr:hover {
	background-image: url(images/flickr_active.svg);
}

a.github:hover, 
a.linkedin:hover, 
a.twitter:hover,
a.flickr:hover {
	transform: scale(1.2);
}

.clearfix {
	clear: both;
}

/*Table styles*/
th, td {
	vertical-align: top;
	display: block;
}

table tr td:first-child {
	font-weight: bold;
}

@media screen and (min-width: 568px) {
	table tr td:first-child {
			width: 25%;
		}
		th, td {
	vertical-align: top;
	display: table-cell;
}
}



/* Styles for larger screens */
@media screen and (min-width: 720px) {

	.flex {
		display: -ms-flexbox;      /* TWEENER - IE 10 */
		display: flex; 
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	header {
		min-height: 470px;
	}

	.nav {
		max-width: 1200px;
		padding: 0 30px;
	}

	.intro {
		width: 75%;
		position: relative;
		font-size: 1.25em;
		left: 12.5%;
	}

	.card {
		width: 50%;
		margin: 15px;
	}

	.full-width {
		width: 100%;
	}

	footer {
		font-size: 1.3em;
		max-width: 1200px;
		margin: 40px auto;
	}

	footer .copyright {
		font-size: .75rem;
	}


}

